* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.nav-bar {
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 28px;
}
.nav-links {
  font-size: 18px;
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links :hover {
  color: black;
}
.first-page {
  background-color: whitesmoke;
  background-image: url(images/banner3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.first-page h3 {
  text-align: center;
  width: 50%;
  padding: 60px 60px;
  font-size: 55px;
}
span {
  color: darkmagenta;
}
.page-heading {
  font-size: 60px;
}
.second-page h3 {
  font-size: 28px;
  padding-bottom: 30px;
}
.row {
  width: 100%;
  padding: 30px;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
  padding-top: 5px;
  font-size: 16px;
  color: white;
}
.flex-1 {
  display: flex;
  gap: 20px;
}
.flex-2 {
  display: flex;
  gap: 20px;
  margin-left: 15px;
}
.third-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.owner img {
  width: 400px;
  height: 400px;
}
.about-disc {
  padding: 50px;
}
.about-disc h3 {
  font-size: 40px;
  font-weight: bold;
  color: darkmagenta;
}

.About p {
  color: rgb(0, 0, 0);
  padding-top: 20px;
  font-size: 20px;
}
.four-page {
  height: 240px;
  width: 100%;
}
.partiners {
  background-color: B6D0E2;
  text-align: center;
}
.partiners h1 {
  font-size: 40px;
  font-weight: bold;
}
.partiner-images {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
footer {
  padding-top: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  height: 60px;
}
p {
  font: 18px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  .first-page h3 {
    /* text-align: center; */

    font-size: 35px;
  }
  span {
    color: darkmagenta;
  }

  .third-pages {
    flex-direction: column;
  }
  .four-page {
    height: 65vh;
  }
  footer {
    margin-top: -270px;
  }
}
